{% extends 'base.html' %}

{% block content %}
    <h1>About Page</h1>

    <h3>{{title|capfirst}}</h3>

    {{my_title|striptags|slugify}}
    <p>
        {{my_number}}, {{my_list}}
    </p>

    <ul>
        {% for item in my_list %}
            {% if item == 34 %}
                <li>{{forloop.counter}} - {{item|add:20}}</li>
            {% elif item == "Abc" %}
                <li>This is not an integer</li>
            {% else %}
                <li>{{forloop.counter}} - {{item}}</li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}